VITE_NODE_ENV = development

VITE_APP_NAME = "BL SHEET"
VITE_APP_LOGO = https://app.blsheet.com/logo.png 
VITE_APP_FAVICON_LOGO = https://app.blsheet.com/logo.png

VITE_BACKEND_URL = http://localhost:5555